.wrapper {
	padding: 0 35px;
	h1 {
		margin-left: 32px;
		color: $dark;
		font-weight: 300;
	}
	h2 {
		font-size: clamp(1.4rem, 3.5vw, 2rem);
		font-weight: 400;
	}
	.billDetail {
		/*Trigger button*/
		&__button {
			&-container {
				position: fixed;
				display: block;
				text-align: center;
				width: 50px;
				height: 50px;
				padding: 10px;
				bottom: 8%;
				right: 6%;
				cursor: pointer;
			}
			color: $secondary;
			@include font-size(40px);
			transition: $base-transition;
			&:hover {
				transform: scale(1.1);
			}
		}
		/*Main*/
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.4);
		/*Content*/
		&__content {
			background-color: #fefefe;
			margin: 10% auto;
			padding: 20px;
			border: 1px solid #888;
			width: 50%;
			& > * {
				border-bottom: 1px solid $light;
				padding: 20px 0;
			}
		}
		/*Products*/
		&__products {
			@include flexBox(row, start, center);
		}
		&__product {
			width: 100%;
			@include flexBox(row, space-between, center);
			.product__img-container {
				position: relative;
				img {
					width: 120px;
					height: 80px;
				}
				&::before {
					content: attr(data-quantity);
					position: absolute;
					padding: 2px 8px;
					border-radius: 50%;
					color: $light;
					background-color: $dark;
					top: -10px;
					right: -6px;
				}
			}
			p {
				@include font-size(18px);
			}
		}
		&__coupon {
			@include flexBox(row, space-between, center);
			input {
				width: 78%;
				border: 1px solid $light;
				border-radius: 4px;
				padding: 8px 20px;
				height: 50px;
				line-height: 20px;
				transition: $base-transition;
				&:focus {
					border-color: $primary;
				}
			}
			button {
				width: 20%;
				height: 50px;
				border-radius: 4px;
				border: 0;
				padding: 8px 20px;
				@include font-size(18px);
				line-height: 20px;
				color: $light;
				cursor: pointer;
				transition: $base-transition;
				background-image: linear-gradient(
					to right,
					$primary 50%,
					$secondary 50%
				);
				background-size: 200% 100%;
				&:hover {
					background-position: -100% 0;
				}
			}
		}
		&__tempPrice {
			p {
				@include font-size(20px);
				@include flexBox(row, space-between, center);
				padding: 10px 0;
			}
		}
		&__total {
			@include font-size(30px);
			color: $dark;
			span {
				float: right;
			}
		}
	}
}

.checkout {
	form > section {
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		padding: 20px;
	}
	&__info {
		margin: 10px 0 20px;
		p {
			font-size: clamp(0.8rem, 2vw, 1rem);
			margin: 5px 0;
			a {
				font-weight: bold;
				color: $primary;
				transition: $base-transition;
				&:hover {
					color: $secondary;
				}
			}
		}
	}
	&__transfer-method,
	&__payment-method {
		margin: 20px 0;
		input {
			font-size: clamp(0.2rem, 1vw, 2rem);
			margin: 15px 0 5px;
		}
	}

	&__transfer-method {
		div {
			@include flexBox(row, space-between, center);
			span {
				color: $primary;
			}
			input {
				margin-right: 5px;
			}
		}
	}

	form {
		padding: 20px;
		min-width: 300px;
		width: 50vw;
		margin: 0 auto;

		.form {
			@include flexBox(column, center, center);
			&__input {
				border-radius: 4px;
				border: 2px solid $light;
				height: 3rem;
				width: 100%;
				padding: 5px 10px;
				@include font-size(15px);
				margin: 5px 0;
				transition: $base-transition;
				color: $dark;
				&:focus {
					border-color: $primary;
				}
				&-error {
					&::placeholder {
						color: rgba(red, 0.8);
					}
					border-color: rgba(red, 0.8);
					&:focus {
						border-color: rgba(red, 0.8);
					}
				}
			}
		}
		footer {
			@include flexBox(row, space-between, center);
			@include font-size(20px);
			a {
				transition: $base-transition;
				color: $primary;
				&:hover {
					color: $secondary;
				}
			}
			.btnComplete {
				width: 200px;
				border-radius: 2px;
				border: 0;
				padding: 8px 20px;
				@include font-size(18px);
				line-height: 20px;
				color: $light;
				cursor: pointer;
				transition: $base-transition;
				background-image: linear-gradient(
					to right,
					$primary 50%,
					$secondary 50%
				);
				background-size: 200% 100%;
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				&:hover {
					background-position: -100% 0;
				}
			}
		}
	}

	.bill-info {
		@extend form;
		header {
			text-align: center;
			margin-bottom: 10px;
			#billId {
				color: #999;
			}
		}
		main {
			padding: 20px 30px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			hr {
				border: 1px solid $light;
				width: 50%;
				margin: 10px 0;
			}
			.bill-info__content {
				color: gray;
				font-weight: 400;
			}
		}
		footer {
			@include flexBox(row, space-between, center);
			padding: 20px 0;
			@include font-size(16px);
			p {
				color: $dark;
				a {
					transition: $base-transition;
					color: $primary;
					&:hover {
						color: $secondary;
					}
				}
				i {
					@include font-size(12px);
					display: inline-block;
					margin-right: 5px;
					line-height: 12px;
					padding: 6px 8px;
					border-radius: 50%;
					background-color: $light;
				}
			}
			a.btnContinue {
				@extend .btnComplete;
				text-align: center;
			}
		}
	}
}

@include respond-below(md) {
	.wrapper {
		padding: 0 10px;
		.billDetail {
			&__content {
				width: 90%;
				flex-direction: column;
			}
			&__product,
			&__coupon {
				@include flexBox(column, space-between, center);
				input,
				button {
					width: 90%;
					margin: 2px 0;
				}
			}
			&__total {
				text-align: center;
				span {
					float: none;
				}
			}
		}
	}
	.checkout {
		form {
			footer {
				flex-direction: column;
			}
		}
	}
}

.error-box {
	color: rgba(red, 0.8);
	padding: 5px;
	@include font-size(14px);
}
