.sign {
  h1 {
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  span {
    font-size: 12px;
  }

  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }

  button {
    border-radius: 20px;
    border: 1px solid $primary;
    background-color: $primary;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }
    &.ghost {
      background: transparent;
      border-color: white;
    }
  }

  form {
    background-color: #ffffff;
    @include flexBox(column, center, center);
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }

  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .container {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px auto;
    @include flexBox(column, center, center);

    .form-container {
      height: 430px;
      width: 50%;
    }

    .sign-up-container {
      label {
        white-space: nowrap;
        @include flexBox(row, start, center);
        @include font-size(14px);
        width: 100%;
        padding: 12px 15px;
        padding-left: 0;
        input {
          margin: 0;
          padding: 0;
          width: 25px;
        }
      }
    }
    .sign-in-container {
      height: 450px;
    }
  }

  .social-container {
    margin: 20px 0;
  }

  .social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    @include flexBox(row, center, center);
    display: inline-flex;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }

  .navLink {
    @include flexBox(row, space-between, center);
    padding: 10px 20px;
    a {
      @include font-size(15px);
      margin: 0 30px;
      white-space: nowrap;
    }
  }
}
