@import 'vars';
@import 'mixins';
@import 'reset';
@font-face {
  font-family: Heebo;
  src: url('/assets/fonts/Heebo-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Heebo', sans-serif;
  scroll-behavior: smooth;
  overflow: overlay;
  overflow-x: hidden;
}

.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@import 'header';

.navbar {
  @include flexBox(row, center, center);
  &__nav {
    padding: 6px 12px;
    display: block;
    &__item {
      @include flexBox(row, center, center);
      flex-wrap: nowrap;
      span {
        @include font-size(14px);
        filter: brightness(1.2);
        cursor: pointer;
        text-align: right;
      }
      & > * {
        transition: $base-transition;
      }
      &:hover > * {
        color: $primary;
      }
    }
    &__link {
      font-weight: bold;
      text-transform: capitalize;
      margin-right: 3px;
      &:hover {
        color: $primary;
      }
    }
  }
}

@include respond-below(md) {
  .navbar {
    @include flexBox(column, center, center);
  }
}

.rotate180 {
  transform: rotate(180deg);
}

.dropdown {
  &,
  & > * {
    transition: $base-transition;
  }
  position: relative;
  &__menu {
    visibility: hidden;
    opacity: 0;
    top: 150%;
    left: 0;
    min-width: 200px;
    position: absolute;
    border-radius: 10px;
    margin: 0;
    padding: 10px 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 6, 0.05);
    border: 1px solid #e6e6e6;
    transition: all 300ms ease-in-out 100ms;
    background-color: #fff;
  }
  &__menu-slideIn {
    top: 90%;
    visibility: visible;
    opacity: 1;
  }
  &__item {
    margin: 0 -10px;
    padding: 6px 12px;
    &__link {
      @include font-size(12px);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 0;
        background-color: $primary;
        transition-duration: 500ms;
      }
    }
    &:hover &__link::after {
      width: 100%;
    }
  }
}

@include respond-below(md) {
  .navbar {
    &__nav {
      &__link {
        flex: 1;
      }
      &__item {
        span {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
  .dropdown {
    &__menu {
      position: static;
      border: none;
      box-shadow: none;
      visibility: hidden;
      opacity: 0;
      height: 0;
      padding: 0;
    }
  }
}

.dropdown__menu-active {
  visibility: visible;
  opacity: 1;
}

.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}

.fixedHeader {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0 0px 5px 2px rgba($dark, 0.2);
  & > * {
    margin: 0;
  }
}

@import 'main';
